@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@500&display=swap");

body {
  min-height: 100vh;
  font-family: Red Hat Display, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 20px;
}

.counter {
  display: flex;
  gap: 60px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#increase-button {
  cursor: pointer;
}

#decries-button {
  cursor: pointer;
}
